<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activities Finder</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
</head>
<body>

    <div id="home-jumbotron" class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Get Outdoors!</h1>
            <p class="lead">Find The Best Outdoor Activity For You</p>
            <a id="cta-button" href="/survey">take the survey</a>
    </div>
    </div>
    

    <script type="text/javascript" src="/assets/js/questions.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>

</body>
</html>